# Ignore node_modules in any subdirectory
node_modules/

# Ignore environment files in backend and frontend
backend/.env
backend/.env.*
frontend/.env
frontend/.env.*

# Ignore specific directories in the backend
backend/uploads/
backend/media/

# Other common ignores
# Logs
logs/
*.log
*.log.*

# Build directories
dist/
build/

# OS-specific files
.DS_Store
Thumbs.db

# IDE-specific files
.vscode/
.idea/
*.sublime-workspace
*.sublime-project

# Temporary files
*.swp
*.tmp
*.bak
*.old
*.orig
*.lock

# Coverage files
coverage/
.nyc_output/

